body{
    margin: 0;
    font-family: Helvetica;
    background-color: aqua;
}
h1{
    font-weight: 100;
    color: black;
}
#logo{
    height: 80px;
    width: 80px;
}
#container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh
}